html, body {
    margin: 0;
    padding: 0;
}
div, p, span, li, th, td {
    font-family:Arial;
}

.hide {
    display: none
}
.fade-from-down {
    animation-name: fade-from-down;
    animation-duration: 0.4s;
    display: block;
}
.fade-up {
    animation-name: fade-up;
    animation-duration: 0.4s;
    opacity: 0;
}

@keyframes fade-from-down {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade-up {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        transform: translateY(-25px);
        opacity: 0;
    }
}


.canvas-container {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.card-left {
    font-size: 23px;
    position: absolute;
    color: #484848;
}
.player-display {
    position: absolute;
    word-break: break-all;
    font-size: calc(30px + 2.5vw);
    text-align: right;
    color: #636363;
}
.player-display-streak {
    word-break: keep-all;
    font-size: calc(25px + 1vw);
    color: #949494;
    vertical-align: super;
}


.player-start-screen-area {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 610px;
}
.player-name-input {
    width: 350px;
    padding: 10px;
    font-size: 40px;
    color: #414141;
    border: solid 3px #414141;
    border-radius: 10px;
}
.player-name-input:focus {
    outline: none;
    border-width: 4px;
    padding: 9px;
}
.player-not-ready-label, .player-ready-label {
    padding: 15px;
    font-size: 28px;
    color: #a81717;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.player-ready-label {
    display: none;
    color: #17a82f !important;
}
input:checked ~ .player-ready-label {
    display: inline !important;
}
input:checked ~ .player-not-ready-label {
    display: none !important;
}

.player-list-container {
    max-height: 297px;
    overflow-y: auto;
    box-sizing: border-box;
    margin-top: 55px;
    padding-top: 10px;
    padding: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    border: solid 3px #414141;
    border-radius: 10px;
    color: #414141;
    background-color: #fbfbfb;
}
.player-list {
    padding-left: 40px;
}
.player-list-title {
    font-size: 25px;
}


.player-end-screen {
    position: absolute !important;
    left: 35%;
    top: 25%;
    width: auto;
}
th, td {
    font-size: 30px;
    color: #4d4a4a;
}
table, th, td {
    border: solid 2px #2e2d2d;
    padding: 15px;
}
th, td {
    padding: 20px !important;
}
td:first-child {
    text-align: left;
}
tr:nth-child(1) td {
    color: #f5bf2a;
    font-weight: bold;
}
.blob {
    height: 100px;
}
.player-end-screen p {
    font-size: 15px;
}


.floating-text {
    position: absolute;
    top: 0px;
    left: 0px;
}

.floating-text span {
    color: #630091;
    font-size: 40px;
    font-weight: bold;
    background-color: #ffffff;
    border: dashed 2px #2e2d2d;
    user-select: none;
}